@import url('https://fonts.googleapis.com/css?family=NTR|Righteous&display=swap');

$light-purple: rgb(158, 71, 112);
$purple: rgb(99, 29, 118);
$dark-purple: rgb(46, 37, 50);
$light: rgb(251, 251, 251);
$dark: rgb(32, 26, 35);

$content: 'NTR', sans-serif;
$title: 'Righteous', serif;

body, #root {
    width: 100vw;
    height: 100vh;
    font-family: $content;
    color: $light;
    background-color: rgba(255, 255, 255, 0);
}

* {
    margin: 0;
    padding: 0;
}

#root {
    display: grid;
    grid-template-rows: 20vh auto;
    grid-template-columns: 20vw auto 20vw;
    grid-template-areas:
    "nav nav     nav"
    ".   content .  ";

    :nth-child(2) {
        grid-area: content;
    }

    nav {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: rgba($dark-purple, 0.8);
        
        .grow {
            flex-grow: 1;
        }

        img {
            max-height: 100%;
            width: auto;
        }

        p {
            font-family: $title;
            text-align: center;
            font-size: 3.9vh;
            padding: 20px;
        }
    }

    canvas {
        display: block;
        position: fixed;
        z-index: -100;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #201a23;
    }

    #jumbotron {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-top: 80px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .card {
            padding: 20px;

            .card-icon {
                width: 100%;
                height: auto;

            }

            .card-btn {
                background: $light-purple;
                border: none;
                border-radius: 20px;
                width: 100%;
                height: 40px;
                color: $light;
                font-size: 20px;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    #article-container {
        // margin: auto;
        padding: 75px;
        // width: 60%;

        .article {
            background: $purple;
            margin-bottom: 75px;
            padding: 20px;
            border-radius: 5px;
            display: grid;

            grid-template-areas:
            "img     title"
            "img     descript"
            "excerpt excerpt";

            grid-template-columns: 2fr 3fr;
            grid-gap: 10px;
            grid-template-rows: repeat(min-content, 3);

            // @media screen and (max-width: 768px) {
            //     grid-template-areas: "img" "title" "descript" "exerpt";
            //     grid-template-rows: 3fr ;
            // }

            img {
                border-radius: 5px;
                max-width: 100%;
                align-self: center;
                grid-area: img;
            }

            .article-title {
                grid-area: title;
            }

            h2 {
                font-family: $title;
                font-size: 1.75rem;
                grid-area: title;
            }

            h4 {
                line-height: 1.15em;
                font-style: italic;
            }

            h3,
            p {
                line-height: 1.15em;
            }

            h3 {
                grid-area: descript;
            }

            p {
                grid-area: excerpt;
            }
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}

.clickable:hover {
    cursor: pointer;
}